*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: blanchedalmond; */
    /* padding: 1rem; */

}
.head{
    background-color: #1F2937;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 10vh;
    padding: 10px;
    /* width: 100vh; */
}
.logo{
    font-size: 24px;
    font-weight: 900;
    color:  #F9FAF8;
}

.nav-links ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB
}
.main{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18rem;
    /* margin: 1rem 4rem; */
}
.left, .right{
    width: 50%;
    
}
.text-big p{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
.text-small p{
    font-size: 18px;
    color: #E5E7EB;
}
.btn{
    background-color: #3882F6;
    color: white;
    padding: 5px 12px;
    font-size: 16px;
    outline: none;
    border: 1px solid #3882F6;
    border-radius: 10px;
    margin: 10px 0;
}

.img-main{
    /* padding: 4rem; */
}
.img{
    width: 80%;
    margin: auto;
    /* height: auto; */
}

.services{
    width: 100%;
    height: 70vh;
}
.title{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin: 20px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.card{
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px 15px;
}
.cards img{
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.cards p{
    text-align: justify;
    padding: 4px 15px
}

.alumini{
    
    background-color: #E5E7EB;
}

.remarks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}
#quote{
    margin: 30px 150px 0 150px;
    text-align: justify;
    font-size: 23px;
    font-style: italic;
    color: #1F2937;
}
#name{
    text-align: right;
    width: 77%;
    font-size: 19px;
    font-weight: bold;
}

.connect{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.action{
    width: 60%;
    height: 50%;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3.5rem;
    border-radius: 10px;
}
#h, #p{
    color: #F9FAF8;
}
.btn-signin{
    border: 1px solid #F9FAF8;
    
}

.footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    
}